@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Master.Stores.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SShopManagementSystem.Master.StoresGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>