@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Master.ProductCategories.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SShopManagementSystem.Master.ProductCategoriesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>